#idiomas{
	li{
		display: inline-block;
		font-size: $texto-idiomas;	
	}
}

#logo{
	/* Rectangle 49: */
	background-image: -o-linear-gradient(-89deg, #D5E8ED 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(-89deg, #D5E8ED 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(-89deg, #D5E8ED 0%, #FFFFFF 100%);
	background-image: linear-gradient(-179deg, #D5E8ED 0%, #FFFFFF 100%);
}


section{
	h1{
		@include section-title;
	}
	h2{
		@include section-subtitle;
		padding: 0 1em;
	}

	form{
		padding: 0 1em;
	}

	article{
		padding: 0 1em;
	}
}