 
.icon-flor1 {
	background-image: url('png/flor1.png');
	background-repeat: no-repeat;
}

 
.icon-flor2 {
	background-image: url('png/flor2.png');
	background-repeat: no-repeat;
}

 
.icon-flor3 {
	background-image: url('png/flor3.png');
	background-repeat: no-repeat;
}

 
.icon-flor4 {
	background-image: url('png/flor4.png');
	background-repeat: no-repeat;
}

 
.icon-flor5 {
	background-image: url('png/flor5.png');
	background-repeat: no-repeat;
}

