/*@media only screen and (max-width: 480px){
	body{
		background-color: red;	
	}
}*/

/*@media only screen and (min-width: 480px){
	body{
		background-color: red;	
	}
}*/

/*body{
	background-color: purple;	
}

@media only screen and (max-width: 1024px){
	body{
		background-color: blue;	
	}
}

@media only screen and (max-width: 768px){
	body{
		background-color: green;	
	}
}

@media only screen and (max-width: 480px){
	body{
		background-color: red;	
	}
}*/


/*body{
	background-color: red;	
}

@media only screen and (min-width: 480px){
	body{
		background-color: green;	
	}
}

@media only screen and (min-width: 768px){
	body{
		background-color: blue;	
	}
}

@media only screen and (min-width: 1024px){
	body{
		background-color: purple;	
	}
}*/

/*___________*/


header{
	background-image: url(../images/hero-home.jpg);
	background-size: cover;
	color:#9eaeb2;
	text-align: center;
	padding-top: 30px;
}

header h2{
	display: inline-block;
	width: 90%;
	margin-top: 10px auto;
}

/*header h2{
	display: inline-block;
	width: 50%;
	margin-top: 10px auto;
}*/

header a#contact{
	display: block;
	padding: 15px 0;	
	text-align: center;
	color: white;
	background-color: #8bccca;
	text-decoration: none;
	font-family: Verdana, sans-serif;
}

/*#main-nav{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 50px;
	border-bottom: 1px solid #9eaeb2;
}*/

#main-nav{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
	border-bottom: 1px solid #9eaeb2;
}

#main-nav ul {
	text-align: center;
}

#main-nav ul li{
	display: inline-block;
}

#main-nav ul li a{
	color: #9eaeb2;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 25px;
	margin-left: 25px;
}

@media only screen and (min-width: 480px){
	#main-nav{
		width: 80%;
	}
}

@media only screen and (min-width: 768px){
	#main-nav{
		width: 90%;
	}

	header h2{
		width: 50%;
	}
}

@media only screen and (min-width: 1024px){
	#main-nav{
		width: 50%;
	}
}


/*@media only screen and (max-width: 768px){
	#main-nav{
		width: 60%
	}
}

@media only screen and (max-width: 480px){
	#main-nav{
		width: 100%
	}
}*/


/*@media only screen and (max-width: 1200px){
	#main-nav{
		width: 60%
	}
}


@media only screen and (max-width: 1024px){
	#main-nav{
		width: 60%
	}
}

@media only screen and (max-width: 900px){
	#main-nav{
		width: 70%
	}
}

@media only screen and (max-width: 768px){
	#main-nav{
		width: 60%
	}
}

@media only screen and (max-width: 480px){
	#main-nav{
		width: 100%
	}
}*/






























